<header class="header">
    <nav class="header__nav">
      <a class="header__logo-link" href="https://aiworldschool.com/">
        <img
            src='images/Aiws-170x43-1 (1).png'
            class="header__logo-image"
            alt="Cognimates logo" />
      </a>

       <a href="/"
         id="backButton"
         class="header__nav-item ">
         Models
       </a>
      <a href='https://aiworldschool.com/freeplay/'
            class="header__nav-item ">
            Freeplay
        </a>
        <a href='https://forms.gle/r1oLbYGz2RvJcwzN7'
            class="header__nav-item ">
            Help translate this page
        </a>
    </nav>
</header>
